.topo {
  background-color: var(--cor-bg1);
  border-bottom: 3px solid var(--cor-botao);
}
.topo__button {
  background-color: var(--cor-bg1);
  border: 1px solid var(--cor-acento2);
  color: var(--cor-acento2);
  width: 240px;
  padding: 15px;
}
.topo__container {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.prox-habilidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--cor-bg2);
  padding: 56px;
}
.prox-habilidades h1 {
  font-size: var(--titulo-primeiro);
  color: var(--cor-acento1);
}
.prox-habilidades p {
  max-width: 670px;
  font-size: var(--tamanho-texto2);
  color: var(--cor-texto1);
  margin: 0 auto;
  padding-bottom: 15px;
}
.prox-habilidades__button {
  background-color: var(--cor-botao);
  padding: 15px;
  width: 140px;
  border: 1px solid var(--cor-botao);
  color: var(--cor-acento2);
<<<<<<< HEAD
  font-size: var(--tamanho-texto4);
=======
<<<<<<< HEAD
  font-size: var(--tamanho-texto4);
=======
  margin-top: 15px;
>>>>>>> e3c3c91925442127c2569f11f579c84f4e8add18
>>>>>>> c32b635a46ee478a5594d2762a45e0e532878c83
}
.quem-somos {
  background-color: var(--cor-bg1);
  padding: 56px;
}
.quem-somos .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.quem-somos h2 {
  color: var(--cor-acento1);
  font-size: var(--titulo-segundo);
}
.quem-somos p {
  max-width: 450px;
  color: var(--cor-texto2);
}
.faq,
.comentario {
  background-color: var(--cor-bg2);
  padding: 56px;
}
.faq__esquerda--entrar {
  background-color: var(--cor-botao);
  color: var(--cor-acento2);
  border: 1px solid var(--cor-botao);
  padding: 15px;
  width: 250px;
}
.faq .container {
  display: flex;
  justify-content: space-between;
}
.faq-direita {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.faq-esquerda {
  max-width: 500px;
}
.faq h3,
.faq h2 {
  font-size: var(--titulo-segundo);
  color: var(--cor-acento1);
}
.faq p {
  color: var(--cor-texto1);
}

.comentario .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
}

.comentario__esquerda {
  max-width: 660px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 70px;
}
.comentario__esquerda h2 {
  color: var(--cor-acento1);
  font-size: var(--titulo-segundo);
}
.comentario__esquerda p {
  color: var(--cor-texto2);
  max-width: 400px;
}
.turma {
  color: var(--cor-texto1) !important;
  font-size: var(--tamanho-texto3);
}

.comentario__direita {
  background-color: #364fc7;
  height: 430px;
  width: 430px;
}
.direita--container {
  padding: 56px;
  display: flex;
  flex-direction: column;
}
.direita--container p {
  font-size: var(--tamanho-texto1);
}
.comentario__direita h2 {
  font-size: var(--titulo-segundo);
}
.comentario__direita h2,
.comentario__direita p {
  color: var(--cor-acento2);
}
.comentario__nome-turma {
  max-width: 190px;
  margin-right: 20px;
}

footer {
  background-color: var(--cor-bg1);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover {
  cursor: pointer;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD

=======
>>>>>>> e3c3c91925442127c2569f11f579c84f4e8add18
>>>>>>> c32b635a46ee478a5594d2762a45e0e532878c83
.modal {
  background-color: var(--cor-bg2);
  border: 2px solid var(--cor-botao);
}
.modal h3 {
  font-size: var(--titulo-terceiro);
  color: var(--cor-acento2);
}
.modal p {
  font-size: var(--tamanho-texto4);
  color: var(--cor-texto2);
}
.modal input {
  background-color: var(--cor-bg1);
  color: var(--cor-texto1);
  font-size: var(--tamanho-texto2);
  padding: 15px;
  margin-bottom: 10px;
  border: none;
}
.modal__button--entrar {
  background-color: var(--cor-botao);
  color: var(--cor-acento2);
  padding: 15px 10px;
  font-size: var(--tamanho-texto4);
  border: none;
}
.modal__container {
  display: flex;
  flex-direction: column;
  max-width: 504px;
  padding: 10px;
}
.modal__topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__close {
  background-image: url("../src/assets/x.svg");
  background-color: var(--cor-bg3);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
  width: 38px;
  height: 32px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.modal__button--entrar,
.faq__esquerda--entrar,
.prox-habilidades__button:hover {
  background-color: var(--cor-botao-ativo);
}
