.topo {
  background-color: var(--cor-bg1);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px var(--cor-botao);
}
.logo {
  width: 180px;
}
.topo-entrar {
  font-size: var(--tamanho-texto4);
  font-weight: var(--texto-bold);
  padding: 10px;
  color: var(--cor-acento2);
  background-color: var(--cor-bg1);
  border: 1px solid var(--cor-acento2);
}
.limite {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}
.flex,
.flex-between {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.flex-between {
  align-items: flex-start;
}
span {
  color: var(--cor-botao);
}
.prox-habilidades {
  padding: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--cor-bg2);
  margin: 0 auto;
  width: 100%;
}
.prox-habilidades h1 {
  font-size: var(--titulo-primeiro);
  color: var(--cor-acento1);
  font-weight: var(--texto-bold);
}
.prox-habilidades p {
  width: 770px;
  font-size: var(--tamanho-texto1);
  color: var(--cor-texto1);
  margin: 0 auto;
}
.prox-habilidades button {
  width: 142px;
  font-size: var(--tamanho-texto3);
  padding: 20px 32px;
  background-color: var(--cor-botao);
  border: 1px solid var(--cor-botao);
  color: var(--cor-acento2);
}
.quem-somos {
  display: flex;
  justify-content: space-around;
  background-color: var(--cor-bg1);
  padding: 56px;
}
.quem-somos h2 {
  font-size: var(--titulo-segundo);
  color: var(--cor-acento1);
  font-weight: var(--texto-bold);
}
.quem-somos p {
  width: 580px;
  font-size: var(--tamanho-texto1);
  color: var(--cor-texto2);
}
.faq {
  background-color: var(--cor-bg2);
  padding: 56px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.faq h2 {
  font-size: var(--titulo-segundo);
  color: var(--cor-acento1);
  font-weight: var(--texto-bold);
}
.faq h3 {
  color: var(--cor-acento1);
  font-weight: var(--texto-bold);
  font-size: var(--titulo-terceiro);
  text-align: center;
}
.faq p {
  font-size: var(--tamanho-texto1);
  color: var(--cor-texto1);
}

.faq button {
  padding: 20px 32px;
  font-size: var(--tamanho-texto3);
  color: var(--cor-acento2);
  background-color: var(--cor-botao);
  border: solid 1px var(--cor-botao);
  font-weight: var(--texto-bold);
}
.coluna-direita {
  width: 583px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 50%;
}

.coluna-esquerda {
  width: 50%;
}
.comentarios {
  padding: 56px 0;
  background-color: var(--cor-bg1);
}
.comentarios .limite {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px 20px;
}
.comentarios h2 {
  font-size: var(--titulo-terceiro);
  color: var(--cor-acento1);
}
.comentarios p {
  color: var(--cor-texto2);
  font-weight: var(--texto-semi-bold);
  font-size: var(--tamanho-texto2);
}
.turma {
  color: var(--cor-texto1);
  font-size: 16px;
}
.nome-turma {
  width: 180px;
  display: flex;
  flex-direction: column;
}
.nome-turma p {
  font-size: 14px;
}

.nome-turma h2,
.nome-turma .turma {
  padding: 10px 0;
  white-space: nowrap; /*evita q titulo quebre, mantem nome e turma na mesma linha, cria menus horizontais sem qubra*/
}
.comentarios-coluna-esquerda {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}
.comentarios-coluna-esquerda li {
  display: flex;
  gap: 20px;
}
.comentarios-coluna-esquerda li p {
  flex: 1;
  font-size: var(--tamanho-texto2);
  color: var(--cor-texto2);
}

.comentarios-coluna-direita {
  background-color: var(--cor-botao);
  padding: 15px;
  width: 320px; /* largura fixa */
  height: 320px; /* mesma altura = quadrado*/
  padding: 20px;
  margin-right: 30px;
}
footer {
  background-color: black;
  display: flex;
  padding: 16px;
  justify-content: center;
}

.logo-footer {
  width: 178px;
}
button:hover {
  cursor: pointer;
}
