.topo {
  background-color: var(--cor-bg1);
  border-bottom: 3px solid var(--cor-botao);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
main {
  padding-top: clamp(2rem, 0.739rem + 4.748vw, 4.3rem);
}
.topo__button {
  background-color: var(--cor-bg1);
  border: 1px solid var(--cor-acento2);
  color: var(--cor-acento2);
  max-width: 240px;
  padding: 15px;
}
.topo__container {
  padding: clamp(0.8rem, 0.252rem + 2.065vw, 1.8rem);
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.prox-habilidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--cor-bg2);
  padding: clamp(1rem, -0.371rem + 5.161vw, 3.5rem);
}
span {
  color: var(--cor-botao);
}
.prox-habilidades h1 {
  font-size: clamp(2rem, 1.315rem + 2.581vw, 3.25rem);
  color: var(--cor-acento1);
}
.prox-habilidades p {
  max-width: 670px;
  font-size: clamp(1rem, 0.671rem + 1.239vw, 1.6rem);
  color: var(--cor-texto1);
  margin: 0 auto;
  padding-bottom: 15px;
}
.prox-habilidades__button {
  background-color: var(--cor-botao);
  padding: 15px;
  max-width: 140px;
  border: 1px solid var(--cor-botao);
  color: var(--cor-acento2);
  font-size: var(--tamanho-texto4);
  font-size: var(--tamanho-texto4);
  margin-top: 15px;
}
.quem-somos {
  background-color: var(--cor-bg1);
  padding: clamp(1rem, -0.371rem + 5.161vw, 3.5rem);
}
.quem-somos .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.quem-somos h2 {
  color: var(--cor-acento1);
  font-size: clamp(1.4rem, 1.071rem + 1.239vw, 2rem);
}
.quem-somos p {
  max-width: 450px;
  color: var(--cor-texto2);
  font-size: clamp(1rem, 0.781rem + 0.826vw, 1.4rem);
}
.faq,
.comentario {
  background-color: var(--cor-bg2);
  padding: clamp(1rem, -0.371rem + 5.161vw, 3.5rem);
}
.faq__esquerda--entrar {
  background-color: var(--cor-botao);
  color: var(--cor-acento2);
  border: 1px solid var(--cor-botao);
  padding: 15px;
  max-width: 250px;
}
.faq .container {
  display: flex;
  justify-content: space-between;
}
.faq-direita {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.faq-esquerda {
  max-width: 500px;
}
.faq-esquerda__sticky {
  position: sticky;
  top: 120px;
}
.faq h3,
.faq h2 {
  font-size: clamp(1.6rem, 1.381rem + 0.826vw, 2rem);
  color: var(--cor-acento1);
}
.faq p {
  color: var(--cor-texto1);
  font-size: clamp(1rem, 0.781rem + 0.826vw, 1.4rem);
}

.comentario .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  gap: 35px;
}

.comentario__esquerda {
  max-width: 660px;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 70px;
}
.comentario__esquerda h2 {
  color: var(--cor-acento1);
  font-size: clamp(1.6rem, 1.381rem + 0.826vw, 2rem);
}
.comentario__esquerda p {
  color: var(--cor-texto2);
  max-width: 400px;
  font-size: clamp(1rem, 0.781rem + 0.826vw, 1.4rem);
}
.turma {
  color: var(--cor-texto1) !important;
  font-size: clamp(0.5rem, 0.226rem + 1.032vw, 1rem);
}

.comentario__direita {
  background-color: #364fc7;
  max-height: 430px;
  max-width: 430px;
  position: sticky;
  top: 120px;
}
.direita--container {
  padding: clamp(1rem, -0.371rem + 5.161vw, 3.5rem);
  display: flex;
  flex-direction: column;
}
.direita--container p {
  font-size: clamp(1rem, 0.781rem + 0.826vw, 1.4rem);
}
.comentario__direita h2 {
  font-size: clamp(1.6rem, 1.381rem + 0.826vw, 2rem);
}
.comentario__direita h2,
.comentario__direita p {
  color: var(--cor-acento2);
}
.comentario__nome-turma {
  max-width: 190px;
  margin-right: 20px;
}

footer {
  background-color: var(--cor-bg1);
  padding: clamp(0.8rem, 0.252rem + 2.065vw, 1.8rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover {
  cursor: pointer;
}

.modal {
  background-color: var(--cor-bg2);
  border: 2px solid var(--cor-botao);
}
.modal h3 {
  font-size: var(--titulo-terceiro);
  color: var(--cor-acento2);
}
.modal p {
  font-size: var(--tamanho-texto4);
  color: var(--cor-texto2);
}
.modal input {
  background-color: var(--cor-bg1);
  color: var(--cor-texto1);
  font-size: var(--tamanho-texto2);
  padding: 15px;
  margin-bottom: 10px;
  border: none;
}
.modal__button--entrar {
  background-color: var(--cor-botao);
  color: var(--cor-acento2);
  padding: 15px 10px;
  font-size: var(--tamanho-texto4);
  border: none;
}
.modal__container {
  display: flex;
  flex-direction: column;
  max-width: 504px;
  padding: 10px;
}
.modal__topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__close {
  background-image: url("../src/assets/x.svg");
  background-color: var(--cor-bg3);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
  width: 38px;
  height: 32px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.modal__button--entrar:hover,
.faq__esquerda--entrar:hover,
.prox-habilidades__button:hover {
  background-color: var(--cor-botao-ativo);
}

@media (max-width: 425px) {
  .topo__button {
    display: none;
  }

  .quem-somos {
    padding: 10px;
  }
  .quem-somos .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .faq .container {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }
  .faq {
    padding: 10px;
  }
  .faq__esquerda--entrar {
    width: 100%;
  }
  .comentario .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .comentario__direita {
    position: static;
    width: 100%;
    height: 100vh;
  }
  .direita__container {
    padding: 10px;

    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .comentario__esquerda {
    max-width: 100%;
    width: 100%;
    align-items: center;
    gap: 5px;
  }
  .comentario__esquerda li {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .quem-somos .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .faq .container {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .comentario__direita {
    position: static;
    width: 100%;
    height: auto;
    justify-content: center;
  }
  .comentario .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .comentario__nome-turma {
    display: flex;
    align-items: center;
    max-width: none;
    gap: 10px;
    white-space: nowrap;
  }

  .comentario__esquerda li {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
